KeyResponder stack active:
{{keyResponder.isActive}}
{{input type="checkbox" checked=keyResponder.isActive}}
<ol>
  {{#each keyResponder.stack as |resp|}}
    <li>{{resp.name}} - {{resp}}</li>
  {{/each}}
</ol>
